<!DOCTYPE HTML>
<html>

<head>
    <title>Chenning Li - Michigan State University</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/img/msu-favicon.jpeg" />
    <meta name="description" content="Chenning Li's Homepage - Michigan State University" />
    <meta name="keywords" content="Chenning Li, Michigan, Tsinghua, Localization, Wireless Networks, AI" />
    <meta http-equiv="content-type" content="text/html; charset=KaiTi_GB2312" />
    <meta name="author" content="Chenning Li">
    <meta name="keywords" content="Chenning Li, Li Chenning, Chenning, Li, C. Li, Yunhao Liu, Zhichao Cao, Tsinghua, Indoor Localization, wireless sensing, 李晨宁, 清华" />

    <!-- <link rel="stylesheet" href="static/css/font-awesome/static/css/font-awesome.min.css"> -->
    <script src="https://kit.fontawesome.com/2e3694663a.js"></script>
    <link href="static/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!-- <link href="static/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400&family=Raleway:wght@400;500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link href="static/css/lightbox.css" rel="stylesheet" />
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/lightbox.js"></script>
    <script src="static/js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XY88DWC6ER"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-XY88DWC6ER');
    </script>

    <!--Baidu Statistics-->
    <!-- <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?efd2726d620199673982fee36f79efb8";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
  </script> -->
    <!--End of Baidu Statistics-->

    <!-- Start of ClustrMaps Statistics -->
    <!-- <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?u=HxK8&d=qa3ow0WC7R-CxpyynFl37-Dbrfsh8LGCfy3CGEeuh_c"></script> -->
    <!-- End of ClustrMaps Statistics -->
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div class="name">
                    <h1>Chenning Li</h1>
                    <!--<h2>Search to Research.</h2>-->
                    </br>
                    <h2>Research Assistant</h2>
                    <h2><a href='https://www.cse.msu.edu/'>Department of Computer Science and Engineering</a></h2>
                    <h2><a href='https://msu.edu/'>Michigan State University</a></h2>
                    <!-- <h2>Chief Scientist, <a href='https://www.originwirelessai.com/'>Origin Wireless Inc.</a></h2> -->

                    <h2><a href="https://www.google.com/maps/place/428+S+Shaw+Ln+%231100,+Okemos,+MI+48864/@42.7247564,-84.4825454,17z/data=!3m1!4b1!4m5!3m4!1s0x8822c2877d161ceb:0x9a1a1602f17caae0!8m2!3d42.7247564!4d-84.4803567">428 S Shaw Ln # 1100, East Lansing, MI 48824</a></h2>
                    </br>
                    <h2>Email: lichenni [at] msu [dot] edu</h2>
                    <h2><a href="papers/chenningCV.pdf">[CV]</a>
                        <a target='blank' href="https://github.com/liecn">[Github]</a>
                        <a target='blank' href="https://scholar.google.com/citations?user=wrJ2GQ8AAAAJ&hl=en&oi=ao">[Google
							Scholar]</a>
                        <a target='blank' href="https://publons.com/researcher/4232616/chenning-li/">[Publons]</a>

                        <!-- <h2><span class='highlight'>I am on the job market!</span></h2> -->
                </div>
                <div class="avatar">
                    <span class="right"><img width="250px" src="./static/img/chenning.jpg" alt="example graphic" /></span>
                </div>
            </div>
            <div id="menubar">
                <div id="banner">
                    <!-- <img height="25px" src="./static/img/thu-logo.png"> &nbsp;&nbsp;&nbsp; -->
                    <img height="25px" src="./static/img/msu-logo.png">
                </div>
                <ul id="menu">
                    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                    <li class=""><a href="index.html">Home</a></li>
                    <span>|</span>
                    <li class=""><a href="#bio">Bio</a></li>
                    <span>|</span>
                    <li class=""><a href="#research">Research</a></li>
                    <span>|</span>
                    <li class=""><a href="#pub">Pubs</a></li>
                    <span>|</span>
                    <li class=""><a href="#industry">Industry</a></li>
                    <span>|</span>
                    <li class=""><a href="#awards">Awards</a></li>
                    <span>|</span>
                    <li class=""><a href="#teaching">Teaching</a></li>
                    <!-- <span>|</span> -->
                    <!-- <li class=""><a href="#services">Services</a></li> -->
                </ul>
            </div>
        </div>
        <div id="site_content">
            <!-- <div class="sidebar"> -->

            <!-- </div> -->
            <!-- <div id="content"> -->
            <!-- insert the page content here -->

            <!-- updates -->
            <!-- <a name='news' style='text-decoration: none'>
                <h1><i class="fa fa-list-alt"></i> News</h1>
            </a>
            <ul style="list-style-type: disc;">
                <li>2021/12, our work <span class='text_block highlight'><a href=''>CurvingLoRa</a></span> got accepted by USENIX NSDI 2022.</li>
                </li>
                <li>2021/12, our work <span class='text_block highlight'><a href=''>PyramidFL</a></span> got accepted by ACM MobiCom 2022.</li>
                <li>2021/11, our work
                    <span class='text_block highlight'><a href=''>CurveMAC</a></span> got accepted by IEEE INFOCOM 2022.
                </li>
                <li>2021/11, our work <span class='text_block highlight'><a href='https://dl.acm.org/doi/abs/10.1145/3485730.3485928'>NELoRa</a></span> won the <span class='text_block highlight'><strong> <a target="blank" href="papers/sensys_award.pdf">Best Paper Award</a></strong></span>                    at ACM SenSys'21.</li>
            </ul> -->
            <!-- biography -->
            <a name='bio' style='text-decoration: none'>
                <h1><i class="fa fa-user"></i> Biography</h1>
            </a>
            <p class='text_block'>
                <!-- Chenning Li is currently a <del>first</del> second year Ph.D. Student in the <a -->
                He is a graduate
                <!-- <del>first</del> second year Ph.D.  -->
                Student at the <a href='https://www.cse.msu.edu/'>Department of Computer Science and Engineering</a>, <a href='https://msu.edu/'>Michigan State University</a>, working with Prof. <a href='https://www.cse.msu.edu/~liuyunha/'>Yunhao Liu</a>                and Prof. <a href="https://www.cse.msu.edu/~caozc/">Zhichao Cao</a>.
            </p>
            <p class='text_block'>
                Prior to that, he received his BEng. in 2018 from <a href="http://www.hy.tsinghua.edu.cn/publish/hyen/index.html">School of Aerospace and
					Engineering</a>, <a href="https://www.tsinghua.edu.cn/">Tsinghua University</a>, Beijing, China.
            </p>

            <!-- research interest -->
            <a name='research' style='text-decoration: none'>
                <h1><i class="fa fa-flag"></i> Research Interests</h1>
            </a>
            <div class='row'>
                <!-- <div class="col-4"> -->
                <p class='text_block'>My research focuses on wireless networks and systems.
                    <!-- Currently, I work on designing novel applications of sensing, communication, and networking, all the way to incorporate signal processing and deep learning techniques. My recent research topics include: -->
                    <ul style="list-style-type: disc">
                        <li>Low-power Wide-area Networks &nbsp;&nbsp;&nbsp;<span class='text_block highlight'>
                            <a href="https://www.usenix.org/conference/nsdi22/presentation/li-chenning">NSDI'22</a>, 
                            <a href="">INFOCOM'22</a>, 
							<a href="https://dl.acm.org/doi/10.1145/3485730.3485928">SenSys'21</a>, <a href="https://dl.acm.org/doi/10.1145/3494673">CSUR'22</a></span></li>
                        <li>Edge/Mobile Computing &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class='text_block highlight'>
                            <a href="https://dl.acm.org/doi/10.1145/3436729">CSUR'21</a>,   
                            <a href="https://dl.acm.org/doi/10.1145/3384419.3430725">SenSys'20</a>, 
                            <a href="https://ieeexplore.ieee.org/document/9141400">TMC'20</a>, 
                            <a href="https://ieeexplore.ieee.org/document/9155539">INFOCOM'20</a>, <a href="">DSN'22</a>
                        </span>
                        </li>
                        <li>ML for Networks/Systems &nbsp;&nbsp;&nbsp;
                            <span class='text_block highlight'>
                            <a href="">MobiCom'22</a>
                        </span>

                        </li>
                    </ul>
                </p>
            </div>

            <!-- <a name='projects' style='text-decoration: none'><h1><i class="fa fa-tags"></i> Research Projects</h1></a>
		<span class='highlight' style='padding-left: 30px'>Highlights on Industrial Impacts:</span>
		<ul>
			<li><span class='text_block'>+ Our motion sensing technology has been commercialized by Origin Wireless Inc. and, in partnership with <a href='https://www.belkin.com/us/'>Belkin</a>, has been deployed over 150 countries worldwide as <a href='https://www.linksys.com/us/linksys-aware/'>LinkSys Aware</a>, the first-of-its-kind motion sensing in mesh WiFi for home security. 
				<li><b>Awards won by LinkSys Aware</b>: <a href='https://www.ces.tech/Innovation-Awards/Honorees/2020/Honorees/L/Linksys-Aware.aspx'><strong>CES 2020 Innovation Award</strong></a>, <a href='https://m3.idg.se/2.1022/1.729088/ces-2020-sju-grymma-prylar-prisades-av-m3'>Best in Session 2020 by M3</a>, 
				  <a href='https://www.originwirelessai.com/pictures'>Best of CES 2020 by Newsweek</a>.
				</li>
				<li>
					Press Coverage: 
				  <a href='https://www.linksys.com/us/linksys-aware/'>LinkSys Aware</a>, 
				  <a href='https://wifinowglobal.com/news-and-blog/roundup-centurylinks-wi-fi-6-with-intel-origins-mesh-sensing-xfinitys-wifi-ready/'>WiFi Now</a>,
				  <a href='https://gizmodo.com/the-very-best-gadgets-we-saw-at-ces-2020-1840949011'>The Very Best Gadgets at CES 2020</a>,
				  <a href='https://www.prnewswire.com/news-releases/origin-wireless-brings-smart-home-and-indoor-tracking-solution-to-mesh-routers-300576721.html?tc=eml_cleartime'>PR Newswire</a>, 
				  <a href='https://www.linksys.com/us/pressreleases/linksys-first-to-market-motion-sensing-mesh-wifi-technology/'>LinkSys</a>, 
				  <a href='https://9to5mac.com/2019/10/08/linksys-aware-motion-sensing-mesh-wifi/'>9TO5Mac</a>, 
				  <a href='https://www.engadget.com/2019/10/08/linksys-motion-sensing-velop/'>engadget</a>, 
				  <a href='https://www.originwirelessai.com/'>Origin Wireless</a>.
				</li>
			</span></li>
			<li><span class='text_block'>+ Our sleep monitoring work has been commercialized by Origin Wireless as Origin Health - Remote Patient Monitoring, which won the <a href="https://www.ces.tech/Innovation-Awards/Honorees/2021/Best-Of/O/Origin-Health-Remote-Patient-Monitoring.aspx"><strong>CES 2021 Best of Innovation Award</strong></a>!
			</span></li>
			<li><span> + Our research has been commercialized as <a href="https://myhexhome.com/">HEX Home</a> for home security, which won the <a href="https://www.ces.tech/Innovation-Awards/Honorees/2021/Honorees/H/Hex-Home.aspx"><strong>CES 2021 Innovation Award</strong></a>!
			</span></li>
			<li><span class='text_block'>+ Our works on wireless indoor tracking, gait recognition, fall detection are being commercialized by Origin Wireless Inc. Stay tuned!
			</span></li>
			<li><span class='text_block'>+ Authored 20+ US/international patents and 20+ China patents.</span></li>
		</ul>
		<span class='text_block' style='padding-left: 30px'><i class="fas fa-hand-point-right"></i> Checkout more research projects <a href="research.html"><strong>HERE</strong></a>, and <a href="rim.html">RIM</a>, <a href="easitrack.html">EasiTrack</a>, <a href="http://tns.thss.tsinghua.edu.cn/widar3.0/index.html">Widar</a>, <a href="https://walleve.github.io/ChromaCode/">ChromaCode</a>.</span>
		
		<div style="width: 100%; margin-top: 15px;">
			<div class="row">
				<div class="col-3">
					<div class="project-badge">
						<a href="research.html#rim"><img class="img-inline" src="projects/project-rim.jpg"></a>
					</div>
					<div class="project-details">
						<a href="research.html#rim">RF-based Inertial Measurement</a>
					</div>
				</div>
				<div class="col-3">
					<div class="project-badge">
						<a href="research.html#widar"><img class="img-inline" src="projects/project-widar.jpg"></a>
					</div>
					<div class="project-details">
						<a href="research.html#widar">Wireless, Contactless, Sensorless Sensing</a>
					</div>
				</div>
				<div class="col-3">
					<div class="project-badge">
						<a href="research.html#aircode"><img class="img-inline" src="projects/project-aircode.jpg"></a>
					</div>
					<div class="project-details">
						<a href="research.html#aircode">Hidden Screen-Camera Communication Systems</a>
					</div>
				</div>
				<div class="col-3">
					<div class="project-badge">
						<a href="research.html#posx"><img class="img-inline" src="projects/project-posx.jpg"></a>
					</div>
					<div class="project-details">
						<a href="research.html#posx">Wireless Indoor Localization via Mobile Crowdsourcing</a>
					</div>
				</div>

				<div class="right-fill">
				</div>
			</div>
		</div> -->

            <a name='pub' style='text-decoration: none;'>
                <h1><i class="fa fa-file-text"></i> Selected Publications</h1>
            </a>
            <!-- <i class="fas fa-hand-point-right"></i> For a complete list, see <a href="pubs.html"><strong>HERE</strong></a> or my <a href="http://scholar.google.com/citations?user=q9llreMAAAAJ">Google Scholar Profile</a>. According to Google Scholar, <b>my papers have more than 4000 citations, with an h-index of 29</b>. -->


            <!-- <h2><i class="fa fa-book"></i> Books</h2> -->
            <!-- <ol id="book">
			<span class='text_block'><li style="min-height: 160px"> 
				<div style="float:left; margin-right: 20px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);"><a href='https://www.springer.com/us/book/9789811303555'><img height="150px" src="static/img/WILACA-book-cover.png" alt="Book Cover"></a></div>
				<a href='https://www.springer.com/us/book/9789811303555'><b>Wireless Indoor Localization: A Crowdsourcing Approach</b></a></br> 
				<b>Chenning Li</b>, Zheng Yang, Yunhao Liu</br>
				Springer, 2018. ISBN: 978-981-13-0355-5.</br></br>
				[<a href='./papers/WILACA_ProductFlyer_9789811303555.pdf'>Book Flyer</a>] 
				[<a href='https://www.springer.com/us/book/9789811303555'>Read Online</a>]
			</li></span>
			<span class='text_block'><li style="min-height: 160px"> 
				<div style="float:left; margin-right: 20px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);"><a href='http://tns.thss.tsinghua.edu.cn/lbcbook/'><img height="150px" src="static/img/lbc_book_cover.png" alt="Book Cover"></a></div>
				<a href='http://www.tup.tsinghua.edu.cn/booksCenter/book_05620801.html'><b>Location-based Computing: Localization and Localizability of Wireless Networks (位置计算：无线网络定位与可定位性)</b></a></br>
				Zheng Yang, <b>Chenning Li</b>, Yunhao Liu</br>
				Tsinghua University Press, Jan. 2014. ISBN: 978-7-302-35113-9 </br></br>
				<a target='blank' href='./static/img/award-lbcbook-2015.jpg'><span class='highlight'>Excellent Academic Monograph (Second Class) of Chinese University Press Book Award (获第四届中国大学出版社图书奖优秀学术著作二等奖)</span></a>
			</li></span>
		</ol> -->
            <!-- <h2><i class="fa fa-file"></i> Selected Conferences</h2> -->
            <ul id="papers">
                <!-- <li>[<span class="booktitle">ACM SIGCOMM'19</span>] <b>Chenshu Wu</b>, Feng Zhang, Yusen Fan, K. J.
						Ray Liu, "<a target="blank" href="https://doi.org/10.1145/3341302.3342081">RF-based Inertial
							Measurement</a>", ACM SIGCOMM, Beijing, China, August 19-24, 2019. <a
							class="btn btn-primary-outline btn-meta" href="papers/sigcomm19_rim_paper.pdf"><i
								class="fa fa-file-pdf-o">&nbsp;</i>PDF</a> <a class="btn btn-primary-outline btn-meta"
							href="papers/sigcomm19_rim_slides.pdf"><i
								class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a> <a class="btn btn-danger btn-meta"
							href="https://youtu.be/_l3nOoqx4vg"><i class="fa fa-video-camera">&nbsp;</i>Demo</a> <button
							class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true"
							data-placement="bottom" data-trigger="click" data-content="<pre>@INPROCEEDINGS{wu2019sigcomm_rim,
			author={Chenshu Wu and Feng Zhang and Yusen Fan and K. J. Ray Liu},
			booktitle={ACM SIGCOMM},
			title={RF-based Inertial Measurement},
			pages={},
			month={August 19-24},
			year={2019},
			}</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button></li> -->
                <h2><b>Conference Publications</b></h2>
                <span class="text_block">
                    <li>[<span class="booktitle">USENIX NSDI'22</span>]
                <a class="btn btn-primary-outline btn-meta" href="https://www.usenix.org/system/files/nsdi22-paper-li_chenning.pdf"><i
                                                class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>
                <a class="btn btn-primary-outline btn-meta" href="papers/nsdi22_slides.pdf"><i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a>
                <a class="btn btn-primary-outline btn-meta" href="https://github.com/liecn/CurvingLoRa_NSDI22"><i
                                        class="fa fa-solid fa-code">&nbsp;</i>Code</a>
                <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@inproceedings{CurvingLoRa_NSDI22,
                                                author = {Li, Chenning and Guo, Xiuzhen and Shuangguan, Longfei and Cao, Zhichao and Jamieson, Kyle},
                                                title = {CurvingLoRa to Boost LoRa Network Throughput via Concurrent Transmission},
                                                year = {2022},
                                                booktitle = {Proceedings of USENIX NSDI},
                                                }</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button>
                </li>
                <li>
                    <u>Chenning Li</u>, Xiuzhen Guo, Longfei Shangguan, Zhichao Cao, Kyle Jamieson. "<a target="blank" href="">CurvingLoRa to Boost LoRa Network Throughput via Concurrent Transmission</a>".
                </li>
                <li>[<span class="booktitle">ACM MobiCom'22</span>]
                    <a class="btn btn-primary-outline btn-meta" href="https://cse.msu.edu/~caozc/papers/mobicom22-li.pdf"><i
                                        class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>
                    <a class="btn btn-primary-outline btn-meta" href=""><i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a>
                    <a class="btn btn-primary-outline btn-meta" href="https://github.com/liecn/PyramidFL"><i
                                class="fa fa-solid fa-code">&nbsp;</i>Code</a>
                    <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@inproceedings{PyramidFL_MobiCom22,
                                        author = {Li, Chenning and Zeng, Xiao and Zhang, Mi and Cao, Zhichao},
                                        title = {PyramidFL: Fine-grained Data and System Heterogeneity-aware Client Selection for Efficient Federated Learning},
                                        year = {2022},
                                        booktitle = {Proceedings of ACM MobiCom},
                                        }</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button>
                </li>
                <li>
                    <u>Chenning Li</u>, Xiao Zeng, Mi Zhang, Zhichao Cao. "<a target="blank" href="">PyramidFL: A Fine-grained Client Selection Framework for
                        Efficient Federated Learning</a>".
                </li>
                <li>[<span class="booktitle">IEEE INFOCOM'22</span>]
                    <a class="btn btn-primary-outline btn-meta" href="https://cse.msu.edu/~caozc/papers/infocom22-li.pdf"><i
                                            class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>
                    <a class="btn btn-primary-outline btn-meta" href="papers/INFOCOM22_slides.pdf"><i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a>
                    <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@inproceedings{CurveALOHA_INFOCOM22,
                                            author = Li, Chenning and Cao, Zhichao and Xiao, Li,
                                            title = {CurveALOHA: Non-linear Chirps Enabled High Throughput Random Channel Access for LoRa},
                                            year = {2022},
                                            booktitle = {Proceedings of IEEE INFOCOM},
                                            }</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button>
                </li>
                <li>
                    <u>Chenning Li</u>, Zhichao Cao, Li Xiao. "<a target="blank" href="">CurveALOHA: Non-linear Chirps Enabled High Throughput Random Channel Access for LoRa</a>".
                </li>
                <li>[<span class="booktitle">ACM SenSys'21</span>]
                    <a class="btn btn-primary-outline btn-meta" href="https://cse.msu.edu/~caozc/papers/sensys21-li.pdf"><i
								class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>
                    <a class="btn btn-primary-outline btn-meta" href="papers/SenSys21_slides.pdf"><i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a>
                    <a class="btn btn-primary-outline btn-meta" href="https://github.com/hanqingguo/NELoRa-Sensys"><i
						class="fa fa-solid fa-code">&nbsp;</i>Code</a>
                    <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@inproceedings{NELoRa_Sensys21,
								author = {Li, Chenning and Guo, Hanqing and Tong, Shuai and Zeng, Xiao and Cao, Zhichao and Zhang, Mi and Yan, Qiben and Xiao, Li and Wang, Jiliang and Liu, Yunhao},
								title = {NELoRa: Towards Ultra-low SNR LoRa Communication with Neural-enhanced Demodulation},
								year = {2021},
								booktitle = {Proceedings of ACM SenSys},
								}</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button>
                </li>
                <li>
                    <u>Chenning Li</u>, Hanqing Guo, Shuai Tong, Xiao Zeng, Zhichao Cao, Mi Zhang, Qiben Yan, Li Xiao, Jiliang Wang, Yunhao Liu. "<a target="blank" href="https://dl.acm.org/doi/abs/10.1145/3485730.3485928">NELoRa: Towards Ultra-low SNR LoRa Communication with Neural-enhanced Demodulation</a>".
                </li>
                <li>[<span class="booktitle">ACM SenSys'20</span>]
                    <a class="btn btn-primary-outline btn-meta" href="https://cse.msu.edu/~caozc/papers/sensys20-chen.pdf"><i
                        class="fa fa-file-pdf-o">&nbsp;</i>PDF</a> <a class="btn btn-primary-outline btn-meta" href="papers/SenSys20_slides.pdf"><i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a>
                    <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@inproceedings{WiSIA_Sensys20,
                        author = {Li, Chenning and Liu, Zheng and Yao, Yuguang and Cao, Zhichao and Zhang, Mi and Liu, Yunhao},
                        title = {Wi-Fi See It All: Generative Adversarial Network-augmented Versatile Wi-Fi Imaging},
                        year = {2020},
                        booktitle = {Proceedings of ACM SenSys},
                        }</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button>
                </li>
                <li>
                    <u>Chenning Li</u>, Zheng Liu, Yuguang Yao, Zhichao Cao, Mi Zhang, Yunhao Liu. "<a target="blank" href="https://dl.acm.org/doi/10.1145/3384419.3430725">Wi-Fi See It All: Generative
                        Adversarial Network-augmented Versatile Wi-Fi Imaging</a>".
                </li>

                <li>[<span class="booktitle">IEEE INFOCOM'20</span>] <a class="btn btn-primary-outline btn-meta" href="https://cse.msu.edu/~caozc/papers/infocom20-chen.pdf"><i
                        class="fa fa-file-pdf-o">&nbsp;</i>PDF</a> <a class="btn btn-primary-outline btn-meta" href="papers/INFOCOM20_slides.pdf"><i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a>
                    <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@ARTICLE{WiHF_TMC20,
                        author={C. L. {Li} and M. {Liu} and Z. {Cao}},
                        journal={IEEE Transactions on Mobile Computing}, 
                        title={WiHF: Gesture and User Recognition with WiFi}, 
                        year={2020},
                        doi={10.1109/TMC.2020.3009561},
                        }</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button>
                </li>
                <li>
                    <u>Chenning Li</u>, Manni Liu, Zhichao Cao. "<a target="blank" href="https://ieeexplore.ieee.org/document/9155539">WiHF: Enable User Identified Gesture Recognition with WiFi</a>".
                </li>
                </span>
                <h2><b>Journal Publications</b></h2>
                <span class="text_block">
                    <li>[<span class="booktitle">ACM CSUR</span>]
                <a class="btn btn-primary-outline btn-meta" href="https://cse.msu.edu/~caozc/papers/csur22-li.pdf">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>
                <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@ARTICLE{LoRaSurvey_CSUR21,
                                            title={LoRa Networking Techniques for Large-scale and Long-termIoT: A Down-to-top Survey},
                                            author={Li, Chenning and Cao, Zhichao},
                                            journal={ACM Computing Surveys (CSUR)},
                                            year={2021},
                                          }</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button>
                </li>
                <li>
                    <u>Chenning Li</u>, Zhichao Cao. "<a target="blank" href="https://dl.acm.org/doi/10.1145/3494673">LoRa Networking Techniques for Large-scale and Long-termIoT: A Down-to-top Survey</a>".
                </li>
                <li>[<span class="booktitle">ACM CSUR</span>]
                    <a class="btn btn-primary-outline btn-meta" href="https://cse.msu.edu/~caozc/papers/csur20-li.pdf"><i
                                        class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>
                    <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@ARTICLE{AIWirelessSensingSurvey_CSUR21,
                                        title={Deep AI Enabled Ubiquitous Wireless Sensing: A Survey},
                                        author={Li, Chenning and Cao, Zhichao and Liu, Yunhao},
                                        journal={ACM Computing Surveys (CSUR)},
                                        year={2021},
                                      }</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button>
                </li>
                <li>
                    <u>Chenning Li</u>, Zhichao Cao, Yunhao Liu. "<a target="blank" href="https://dl.acm.org/doi/10.1145/3436729">Deep AI Enabled Ubiquitous Wireless Sensing: A Survey</a>".
                </li>
                <li>[<span class="booktitle">IEEE TMC</span>] <a class="btn btn-primary-outline btn-meta" href="https://cse.msu.edu/~caozc/papers/tmc20-chen.pdf"><i
							class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>
                    <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@INPROCEEDINGS{WiHF_INFOCOM20,
							author={C. {Li} and M. {Liu} and Z. {Cao}},
							booktitle={Proceedings of IEEE INFOCOM}, 
							title={WiHF: Enable User Identified Gesture Recognition with WiFi}, 
							year={2020},
							doi={10.1109/INFOCOM41043.2020.9155539},
							ISSN={2641-9874},
						  }</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button>
                </li>
                <li>
                    <u>Chenning Li</u>, Manni Liu, Zhichao Cao. "<a target="blank" href="https://ieeexplore.ieee.org/document/9141400">WiHF: Gesture and User Recognition with WiFi</a>".
                </li>
                </span>
            </ul>
            <!-- <h2><i class="fa fa-file"></i> Selected Journals</h2>
			<ol id="journal">
			</ol> -->
            <!-- <ul>
          <li><i class="fa fa-tag"></i> <a href="projects.html#rim">RIM: RF-based Inertial Measurement</a></li>
          <li><i class="fa fa-tag"></i> <a href="projects.html#widar">Widar: Passive Tracking and Gesture Recognition using Commodity WiFi</a></li>
          <li><i class="fa fa-tag"></i> <a href="projects.html#easitrack">EasiTrack: Accurate Indoor Tracking Made Easy and Scalable</a></li>
          <li><i class="fa fa-tag"></i> <a href="projects.html#smars">SMARS: Sleep Monitoring using Ambient Radio Signals</a></li>
          <li><i class="fa fa-tag"></i> <a href="projects.html#motion">WiFi Radio as a Ubiquitous Motion Sensor</a></li>
          <li><i class="fa fa-tag"></i> <a href="projects.html#gait">Gait Monitoring and Recognition Through the Walls</a></li>
          <li><i class="fa fa-tag"></i> <a href="projects.html#aircode">Hidden Screen-Camera Communication System</a></li>
          <li><i class="fa fa-tag"></i> <a href="projects.html#p2pnav">Peer-to-Peer Indoor Navigation</a></li>
          <li><i class="fa fa-tag"></i> <a href="projects.html#posx">Wireless Indoor Localization via Mobile Crowdsourcing</a></li>
        </ul> -->

            <a name='industry' style='text-decoration: none'>
                <h1><i class="fa fa-industry"></i> Industrial Experience</h1>
            </a>
            <ul style="list-style-type: disc;">
                <li><span class="booktitle">Microsoft</span> - Research Intern - Networking Research Group. May - Aug 2022
                </li>
                <li><span class="booktitle">TikTok</span> - Data-System-Network Engineering Intern. Feb - Apr 2022
                </li>
                <li> <span class="booktitle">CodePath</span> - <a target="blank" href="papers/ios_certificate.pdf">iOS Development Course</a>. Aug - Dec 2020. Awarded <a target="blank" href="papers/ios_award.pdf">the excellent presentation</a> during the CodePath
                    Mobile Development Virtual Demo Day.
                </li>
            </ul>

            <a name='awards' style='text-decoration: none'>
                <h1><i class="fa fa-trophy"></i> Honors and Awards</h1>
            </a>
            <ul>
                <li>2022, Student Grant, USENIX NSDI & IEEE INFOCOM</li>
                <li>2021, <a target="blank" href="papers/sensys_award.pdf">Best Paper Award</a>, ACM SenSys</li>
                <li>2019, Named an Engineering Distinguished Scholar, Michigan State University</li>
                <li>2018, Outstanding Undergraduate of Beijing & Tsinghua University</li>
                <li>2017, Tsinghua Outstanding Scholarship, equivalent to Summa Cum Laude </li>
            </ul>

            <a name='teaching' style='text-decoration: none'>
                <h1><i class="fas fa-microphone-alt"></i> Teaching Experience</h1>
            </a>
            <ul style="list-style-type: disc;">
                <li>Teaching Assistant: CSE220 - Programming in C (Spring 2021, MSU)
                </li>
                <li>Guest Lecturer: CSE891 - AIoT: Artificial Intelligence in the Edge (Spring 2020 / Fall 2021, MSU)
                </li>
            </ul>

            <a name='services' style='text-decoration: none'>
                <h1><i class="fa fa-bookmark"></i> Professional Services</h1>
            </a>
            <ul>
                <li>Reviewers:</li>
                <li> ACM MobiCom'20/'21/'22 | IEEE INFOCOM'20/'21/'22
                </li>
                <li>
                    IEEE Transactions on Mobile Computing (TMC) | IEEE Transactions on Wireless Communications (TWC) | ACM Transactions on Sensor Networks (TOSN)
                </li>
            </ul>

            <!-- <a name='links' style='text-decoration: none'>
                <h1><i class="fa fa-external-link-square"></i> Useful Links</h1>
            </a>
            <ul>
                <li><i class="fa fa-external-link"></i> <a target='blank' href="/conference/">Upcoming
						Conferences</a></li>
                <li><i class="fa fa-external-link"></i> <a target='blank' href="http://www.cs.ucsb.edu/~almeroth/conf/stats/" target='blank'>Networking Conferences
						Statistics</a></li>
            </ul> -->
        </div>
        <!-- End of content -->
        <div id="footer">
            <p>
                Last Updated: 03/2022 | Copyright &copy; Chenshu Wu </p>
            <div class="bottomimg">
                <a href="http://www.tsinghua.edu.cn"><img src="./static/img/thu-logo.png"></a>
            </div>
            <div class="bottomimg">
                <a href="https://msu.edu/"><img src="./static/img/msu-logo.png"></a>
            </div>
            <!-- <div class="bottomimg">
				<a href="http://umich.edu/"><img src="./static/img/umich-logo.png"></a>
			</div>
			<div class="bottomimg">
				<a href="https://www.princeton.edu/"><img src="./static/img/pu-logo.png"></a>
			</div>
			<div class="bottomimg">
				<a href="https://www.umd.edu/"><img src="./static/img/umd-logo.png"></a>
			</div>
			<div class="bottomimg">
				<a href="https://www.originwirelessai.com/"><img src="./static/img/ow-logo.png"></a>
			</div> -->
            <!-- <div class="bottomimg" style="float:right"> -->
            <!-- Start of ClustrMaps Statistics -->
            <!-- <a href="http://www.clustrmaps.com/map/tns.thss.tsinghua.edu.cn/~cswu/"
					title="Visitor Map for tns.thss.tsinghua.edu.cn/~cswu/"><img
						src="//www.clustrmaps.com/map_v2.png?u=HxK8&d=qa3ow0WC7R-CxpyynFl37-Dbrfsh8LGCfy3CGEeuh_c" /></a> -->
            <!-- End of ClustrMaps Statistics -->
            <!-- </div> -->
        </div>

        <!-- Start of StatCounter Code for Default Guide -->
        <!-- <div class="statcounter" style='text-align: center;'><a title="shopify
	analytics ecommerce" href="http://statcounter.com/shopify/"
	target="_blank"></a></div> -->
        <!-- End of StatCounter Code for Default Guide -->

    </div>
</body>

</html>