<!DOCTYPE HTML>
<html>

<head>
    <title>Chenning Li - MIT</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/img/mit-favicon.ico" />
    <meta name="description" content="Chenning Li's Homepage - MIT" />
    <meta name="keywords" content="Chenning Li, Chenning, Li, Chenning, C. Li, Hari Balakrishnan, Yunhao Liu, MIT, MSU, Tsinghua, 李晨宁, 清华" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Chenning Li" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- External CSS and Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="static/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400&family=Raleway:wght@400;500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link href="static/css/lightbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- External JS and Icons -->
    <script defer src="https://kit.fontawesome.com/2e3694663a.js"></script>
    <script defer src="static/js/jquery.min.js"></script>
    <script defer src="static/js/lightbox.js"></script>
    <script defer src="static/js/main.js"></script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XY88DWC6ER"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-XY88DWC6ER');
    </script>
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div class="avatar">
                    <span><img width="280px" src="./static/img/chenning_2022.jpg" alt="chenning's avatar" /></span>
                </div>
                <div class="name">
                    <h1>Chenning Li</h1>
                    </br>
                    <h2><i class="fas fa-graduation-cap"></i> Research Assistant</h2>
                    <h2><i class="fas fa-network-wired"></i> Networks and Mobile Systems group at CSAIL</h2>
                    <h2><i class="fas fa-university"></i> EECS Department</h2>
                    </br>
                    <h2><i class="fas fa-envelope"></i> <a href="mailto:lichenni@mit.edu">lichenni [at] mit [dot] edu</a></h2>
                    <div class="contact-links">
                        <a target="_blank" href="papers/chenningCV.pdf"><i class="fas fa-file-alt"></i> [CV]</a>
                        <a target="_blank" href="https://github.com/liecn"><i class="fab fa-github"></i> [Github]</a>
                        <a target="_blank" href="https://scholar.google.com/citations?user=wrJ2GQ8AAAAJ&hl=en&oi=ao"><i class="fas fa-graduation-cap"></i> [Google Scholar]</a>
                        <a target="_blank" href="https://publons.com/researcher/4232616/chenning-li/"><i class="fas fa-star"></i> [Publons]</a>
                        <a target="_blank" href="https://www.linkedin.com/in/chenning-li-aa933b1b6/"><i class="fab fa-linkedin"></i> [LinkedIn]</a>
                    </div>
                </div>
            </div>
            <div id="menubar">
                <div id="banner">
                    <img src="./static/img/mit-logo-black.svg" alt="MIT Logo">
                </div>
                <ul id="menu">
                    <li><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
                    <span>|</span>
                    <li><a href="#bio"><i class="fas fa-user"></i> Bio</a></li>
                    <span>|</span>
                    <li><a href="#research"><i class="fas fa-flask"></i> Research</a></li>
                    <span>|</span>
                    <li><a href="#pub"><i class="fas fa-book"></i> Pubs</a></li>
                    <span>|</span>
                    <li><a href="#industry"><i class="fas fa-industry"></i> Industry</a></li>
                    <span>|</span>
                    <li><a href="#awards"><i class="fas fa-trophy"></i> Awards</a></li>
                    <span>|</span>
                    <li><a href="#teaching"><i class="fas fa-chalkboard-teacher"></i> Teaching</a></li>
                </ul>
            </div>
        </div>


        <div id="site_content">
            <a name="bio" style="text-decoration: none;">
                <h1><i class="fa fa-user"></i> Biography</h1>
            </a>
            <p class="text_block">
                Chenning Li is a third-year Ph.D. student in the <a href="http://nms.csail.mit.edu/">Networks and Mobile Systems group</a> at <a href="https://www.csail.mit.edu/">CSAIL</a>, EECS, <a href="https://web.mit.edu/">MIT</a>, working with Prof.
                <a href="http://nms.lcs.mit.edu/~hari/">Hari Balakrishnan</a> and Prof. <a href="https://people.csail.mit.edu/alizadeh/">Mohammad Alizadeh</a>.
            </p>

            <!-- New Section -->

            <!-- <a name="status" style="text-decoration: none;">
                <h1><i class="fa fa-bullhorn"></i> Current Status</h1>
            </a> -->
            <!-- <p class="text_block">
                <li>I am actively looking for <span class="booktitle">an internship for the summer of 2025</span>. My interests include research projects on <span class="booktitle">ML for networks and systems for ML</span>.</li>
                <li>I am open to any kind of <span class="booktitle">research collaborations</span>. Please feel free to reach out if you are interested in collaborating on projects related to my research interests.</li>
                </ul>
            </p> -->
            <!-- End of New Section -->

            <!-- <p class="text_block"> -->
            <a name="research" style="text-decoration: none;">
                <h1><i class="fa fa-flag"></i> Research Interests</h1>
            </a>
            <p class="text_block">
                <strong>Chenning's research</strong> focuses on leveraging <strong>machine learning for networking</strong>, aiming to enhance <strong>performance in large-scale data centers</strong>. He has authored multiple first-authored papers in
                <strong>top-tier conferences</strong>, including <strong>SIGCOMM, NSDI, MobiCom, and MobiSys</strong>. His recent work, <span class="booktitle"><strong>m3, ACM SIGCOMM 2024</strong></span>, uses <strong>Transformers</strong> to efficiently
                and accurately estimating <strong>network performance</strong> across diverse workloads, configurations, and topologies in today's large-scale data centers.
                <br><br> Chenning's contributions have earned him several <strong>prestigious honors</strong>, including:
                <span class="booktitle"><strong>2025 NVIDIA Graduate Fellowship Finalist</strong>, <strong>2023 Meta PhD Fellowship Finalist</strong>, <strong>ACM SenSys Best Paper Award (2021)</strong></span>. Beyond academia, Chenning brings valuable
                <strong>industry experience</strong> from his internships at <strong>Microsoft</strong> and <strong>TikTok</strong>.
            </p>


            <!-- <div class="row">
                    <ul style="list-style-type: disc;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <li>ML for Networks/Systems</li>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-9 col-xs-9">
                            <span class="text_block highlight">
                            <a href="">MobiCom'22</a>
                        </span>
        </div>
        </ul>
    </div>
    <div class="row">
        <ul style="list-style-type: disc;">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <li>Low-power Wide-area Networks</li>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-9 col-xs-9">
                <span class="text_block highlight">
                            <a href="https://www.usenix.org/conference/nsdi22/presentation/li-chenning">NSDI'22</a>, 
                            <a href="">INFOCOM'22</a>, 
                            <a href="">ICNP'22</a>, 
                            <a href="https://dl.acm.org/doi/10.1145/3494673">CSUR'22</a>, 
                            <a href="https://dl.acm.org/doi/10.1145/3485730.3485928">SenSys'21</a>
                        </span>
            </div>
        </ul>
    </div>
    <div class="row">
        <ul style="list-style-type: disc;">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <li>Edge/Mobile Computing</li>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-9 col-xs-9">
                <span class="text_block highlight">
                            <a href="">DSN'22</a>, 
                            <a href="">SECON'22</a>, 
                            <a href="https://dl.acm.org/doi/10.1145/3436729">CSUR'21</a>,   
                            <a href="https://dl.acm.org/doi/10.1145/3384419.3430725">SenSys'20</a>, 
                            <a href="https://ieeexplore.ieee.org/document/9141400">TMC'20</a>, 
                            <a href="https://ieeexplore.ieee.org/document/9155539">INFOCOM'20</a>
                        </span>
            </div>
        </ul>
    </div> -->

            <a name="pub" style="text-decoration: none;">
                <h1><i class="fa fa-file-text"></i> Selected Publications</h1>
            </a>
            <!-- <h2><b>Conference Publications</b></h2> -->
            <ul id="papers">
                <li>[<span class="booktitle">ACM SIGCOMM'24</span>]
                    <u>Chenning Li*</u>, Arash Nasr-Esfahany*, Kevin Zhao, Kimia Noorbakhsh, Prateesh Goyal, Mohammad Alizadeh, and Thomas Anderson. "<a target="blank" href="https://dl.acm.org/doi/pdf/10.1145/3651890.3672243">m3: Accurate Flow-Level Performance Estimation using Machine Learning</a>".
                    <a class="btn btn-primary-outline btn-meta" href="papers/sigcomm24_slides.pptx"><i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a>
                    <a target="blank" class="btn btn-primary-outline btn-meta" href="https://github.com/netiken/m3"><i class="fa fa-solid fa-code">&nbsp;</i>Code</a>
                    <a target="blank" class="btn btn-primary-outline btn-meta" href="https://www.youtube.com/watch?v=TGpFYeDmnJg"><i class="fa fa-video">&nbsp;</i>Video</a>
                    <a target="blank" class="btn btn-primary-outline btn-meta" href="papers/sigcomm24_poster.pdf"><i class="fa fa-image">&nbsp;</i>Poster</a>
                </li>
                <li>[<span class="booktitle">ACM MobiSys'24</span>]
                    <u>Chenning Li*</u>, Yidong Ren*, Shuai Tong, Shakhrul Iman Siam, Mi Zhang, Yunhao Liu, Jiliang Wang, and Zhichao Cao. "<a target="blank" href="https://dl.acm.org/doi/pdf/10.1145/3643832.3661861">ChirpTransformer: Versatile LoRa Encoding for Low- power Wide-area IoT</a>".
                    <a target="blank" class="btn btn-primary-outline btn-meta" href="https://github.com/YDRen001/ChirpTransformer"><i class="fa fa-solid fa-code">&nbsp;</i>Code</a>
                </li>
                <li>[<span class="booktitle">USENIX NSDI'22</span>]
                    <u>Chenning Li</u>, Xiuzhen Guo, Longfei Shangguan, Zhichao Cao, Kyle Jamieson. "<a target="blank" href="https://www.usenix.org/conference/nsdi22/presentation/li-chenning">CurvingLoRa to Boost LoRa Network Throughput via Concurrent Transmission</a>".
                    <a class="btn btn-primary-outline btn-meta" href="papers/nsdi22_slides.pptx"><i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a>
                    <a target="blank" class="btn btn-primary-outline btn-meta" href="https://github.com/liecn/CurvingLoRa_NSDI22"><i class="fa fa-solid fa-code">&nbsp;</i>Code</a>
                    <a target="blank" class="btn btn-primary-outline btn-meta" href="https://www.youtube.com/watch?v=WJwDFLwT6NM"><i class="fa fa-video">&nbsp;</i>Video</a>
                </li>
                <li>[<span class="booktitle">ACM MobiCom'22</span>]
                    <u>Chenning Li</u>, Xiao Zeng, Mi Zhang, Zhichao Cao. "<a target="blank" href="https://dl.acm.org/doi/abs/10.1145/3495243.3517017">PyramidFL: A Fine-grained Client Selection Framework for Efficient Federated Learning</a>".
                    <a class="btn btn-primary-outline btn-meta" href="papers/mobicom22_slides.pptx"><i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a>
                    <a target="blank" class="btn btn-primary-outline btn-meta" href="https://github.com/liecn/PyramidFL"><i class="fa fa-solid fa-code">&nbsp;</i>Code</a>
                    <!-- <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@inproceedings{PyramidFL_MobiCom22,
                        author = {Li, Chenning and Zeng, Xiao and Zhang, Mi and Cao, Zhichao},
                        title = {PyramidFL: Fine-grained Data and System Heterogeneity-aware Client Selection for Efficient Federated Learning},
                        year = {2022},
                        booktitle = {Proceedings of ACM MobiCom},
                        }</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button> -->
                </li>
                <li>[<span class="booktitle">IEEE INFOCOM'22</span>]
                    <u>Chenning Li</u>, Zhichao Cao, Li Xiao. "<a target="blank" href="https://ieeexplore.ieee.org/document/9796757">CurveALOHA: Non-linear Chirps Enabled High Throughput Random Channel Access for LoRa</a>".
                    <a target="blank" class="btn btn-primary-outline btn-meta" href="papers/infocom22_slides.pdf"><i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a>
                    <!-- <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@inproceedings{CurveALOHA_INFOCOM22,
                        author = Li, Chenning and Cao, Zhichao and Xiao, Li,
                        title = {CurveALOHA: Non-linear Chirps Enabled High Throughput Random Channel Access for LoRa},
                        year = {2022},
                        booktitle = {Proceedings of IEEE INFOCOM},
                        }</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button> -->
                </li>
                <li>[<span class="booktitle">ACM SenSys'21</span>]
                    <u>Chenning Li</u>, Hanqing Guo, Shuai Tong, Xiao Zeng, Zhichao Cao, Mi Zhang, Qiben Yan, Li Xiao, Jiliang Wang, Yunhao Liu. "<a target="blank" href="https://dl.acm.org/doi/abs/10.1145/3485730.3485928">NELoRa: Towards Ultra-low SNR LoRa Communication with Neural-enhanced Demodulation</a>".
                    <a class="btn btn-primary-outline btn-meta" href="papers/sensys21_slides.pptx"><i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a>
                    <a target="blank" class="btn btn-primary-outline btn-meta" href="https://github.com/hanqingguo/NELoRa-Sensys"><i class="fa fa-solid fa-code">&nbsp;</i>Code</a>
                    <!-- <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@inproceedings{NELoRa_Sensys21,
                        author = {Li, Chenning and Guo, Hanqing and Tong, Shuai and Zeng, Xiao and Cao, Zhichao and Zhang, Mi and Yan, Qiben and Xiao, Li and Wang, Jiliang and Liu, Yunhao},
                        title = {NELoRa: Towards Ultra-low SNR LoRa Communication with Neural-enhanced Demodulation},
                        year = {2021},
                        booktitle = {Proceedings of ACM SenSys},
                        }</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button> -->
                </li>
                <li>[<span class="booktitle">ACM SenSys'20</span>]
                    <u>Chenning Li</u>, Zheng Liu, Yuguang Yao, Zhichao Cao, Mi Zhang, Yunhao Liu. "<a target="blank" href="https://dl.acm.org/doi/10.1145/3384419.3430725">Wi-Fi See It All: Generative Adversarial Network-augmented Versatile Wi-Fi Imaging</a>".
                    <a class="btn btn-primary-outline btn-meta" href="papers/sensys20_slides.pptx"><i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a>
                    <!-- <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@inproceedings{WiSIA_Sensys20,
                        author = {Li, Chenning and Liu, Zheng and Yao, Yuguang and Cao, Zhichao and Zhang, Mi and Liu, Yunhao},
                        title = {Wi-Fi See It All: Generative Adversarial Network-augmented Versatile Wi-Fi Imaging},
                        year = {2020},
                        booktitle = {Proceedings of ACM SenSys},
                        }</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button> -->
                </li>

                <li>[<span class="booktitle">IEEE INFOCOM'20</span>]
                    <u>Chenning Li</u>, Manni Liu, Zhichao Cao. "<a target="blank" href="https://ieeexplore.ieee.org/document/9155539">WiHF: Enable User Identified Gesture Recognition with WiFi</a>".
                    <a target="blank" class="btn btn-primary-outline btn-meta" href="papers/infocom20_slides.pdf"><i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a>
                    <!-- <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@ARTICLE{WiHF_TMC20,
                        author={C. L. {Li} and M. {Liu} and Z. {Cao}},
                        journal={IEEE Transactions on Mobile Computing}, 
                        title={WiHF: Gesture and User Recognition with WiFi}, 
                        year={2020},
                        doi={10.1109/TMC.2020.3009561},
                        }</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button> -->
                </li>
            </ul>

            <!-- <h2><b>Journal Publications</b></h2>
            <ul>
                <li>[<span class="booktitle">ACM CSUR</span>] <u>Chenning Li</u>, Zhichao Cao. "<a target="blank" href="https://dl.acm.org/doi/10.1145/3494673">LoRa Networking Techniques for Large-scale and Long-termIoT: A Down-to-top Survey</a>".
                </li>
                <li>[<span class="booktitle">ACM CSUR</span>] <u>Chenning Li</u>, Zhichao Cao, Yunhao Liu. "<a target="blank" href="https://dl.acm.org/doi/10.1145/3436729">Deep AI Enabled Ubiquitous Wireless Sensing: A Survey</a>".
                </li> -->
            <!-- <li>[<span class="booktitle">IEEE TMC</span>]
                        <a class="btn btn-primary-outline btn-meta" href="https://cse.msu.edu/~caozc/papers/tmc20-chen.pdf"><i class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>
                        <button class="btn btn-primary-outline btn-meta" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="click" data-content="<pre>@INPROCEEDINGS{WiHF_INFOCOM20,
                        author={C. {Li} and M. {Liu} and Z. {Cao}},
                        booktitle={Proceedings of IEEE INFOCOM}, 
                        title={WiHF: Enable User Identified Gesture Recognition with WiFi}, 
                        year={2020},
                        doi={10.1109/INFOCOM41043.2020.9155539},
                        ISSN={2641-9874},
                        }</pre>" data-original-title="" title=""><i class="fa fa-book">&nbsp;</i>Bibtex</button>
                    </li>
                    <li>
                        <u>Chenning Li</u>, Manni Liu, Zhichao Cao. "<a target="blank" href="https://ieeexplore.ieee.org/document/9141400">WiHF: Gesture and User Recognition with WiFi</a>".
                    </li> -->
            <!-- </ul> -->

            <a name="industry" style="text-decoration: none;">
                <h1><i class="fa fa-industry"></i> Industrial Experience</h1>
            </a>
            <ul style="list-style-type: disc;">
                <li><span class="booktitle">Microsoft</span> - Research Intern - Networking Research Group. May - Aug 2022</li>
                <li><span class="booktitle">TikTok</span> - Data-System-Network Engineering Intern. Feb - Apr 2022</li>
                <li><span class="booktitle">CodePath</span> - <a target="blank" href="papers/ios_certificate.pdf">iOS Development Course</a>. Aug - Dec 2020. Awarded <a target="blank" href="papers/ios_award.pdf">the excellent presentation</a> during the CodePath
                    Mobile Development Virtual Demo Day.</li>
            </ul>

            <a name="awards" style="text-decoration: none;">
                <h1><i class="fa fa-trophy"></i> Honors and Awards</h1>
            </a>
            <ul>
                <li>2025, Finalists for Graduate Fellowship Award, NVIDIA</li>
                <li>2023, Finalists for Research PhD Fellowship Award, Meta</li>
                <li>2022, Student Grant, USENIX NSDI & IEEE INFOCOM</li>
                <li>2021, <a target="blank" href="papers/sensys_award.pdf">Best Paper Award</a>, ACM SenSys</li>
                <li>2019, Named an Engineering Distinguished Scholar, Michigan State University</li>
                <li>2018, Outstanding Undergraduate of Beijing & Tsinghua University</li>
                <li>2017, Outstanding Scholarship, Tsinghua University</li>
            </ul>

            <a name="teaching" style="text-decoration: none;">
                <h1><i class="fas fa-microphone-alt"></i> Teaching Experience</h1>
            </a>
            <ul style="list-style-type: disc;">
                <li>EECS Communication Lab Fellow (Spring 2024 to Present, MIT)</li>
                <li>Teaching Assistant: CSE220 - Programming in C (Spring 2021, MSU)</li>
                <li>Guest Lecturer: CSE891 - AIoT: Artificial Intelligence in the Edge (Spring 2020 / Fall 2021, MSU)</li>
            </ul>

            <a name="services" style="text-decoration: none;">
                <h1><i class="fa fa-bookmark"></i> Professional Services</h1>
            </a>
            <ul>
                <li><span class="booktitle">Program Committee Member</span></li>
                <li> ACM S3 Workshop in MobiCom 2024 - Artifact Evaluation Committee</li>
                <li> ACM SIGCOMM 2022, 2023 - Artifact Evaluation Committee</li>
                <li>ACM SenSys 2022 - Shadow Program Committee</li>
                <li><span class="booktitle">Reviewer</span> </li>
                <!-- <li> ACM MobiCom '20/'21/'22, ACM IPSN '22, IEEE INFOCOM '20/'21/'22</li> -->
                <li>ACM Transactions on Sensor Networks, ACM on Interactive, Mobile, Wear- able and Ubiquitous Technologies, ACM Computing Surveys, IEEE Transactions on Mobile Computing, IEEE Transactions on Wireless Communications, IEEE Internet of Things
                    Journal, IEEE Internet of Things Magazine, IEEE Intelligent Transportation System Magazine, IEEE/ACM Transactions on Networking</li>
            </ul>
        </div>

        <div id="footer">
            <p>
                Last Updated: 08/2024 | <a target="blank" href="https://github.com/liecn/cnli.me">Find Webpage Template</a>
            </p>
            <div class="bottomimg">
                <a href="http://www.tsinghua.edu.cn"><img src="./static/img/thu-logo.png" alt="Tsinghua University"></a>
            </div>
            <div class="bottomimg">
                <a href="https://msu.edu/"><img src="./static/img/msu-logo.png" alt="MSU"></a>
            </div>
            <div class="bottomimg">
                <a href="http://umich.edu/"><img src="./static/img/mit-logo-black.svg" alt="MIT"></a>
            </div>
            <div class="bottomimg" style="float:right">
                <!-- Start of ClustrMaps Statistics -->
                <a href="https://clustrmaps.com/site/1bpmz" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=T8SukgeBPuaZf9yxAWJsl0mDMObbTxniHMnQYLe7rxk&cl=ffffff" /></a>
                <!-- End of ClustrMaps Statistics -->
            </div>
        </div>
    </div>
</body>

</html>